// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

//colors
$theme-colors: (
    "primary": #9932CC
);

// dashboard variables
$sidebar-width: 260px;